!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // SEO Validation Tags
    meta(name='msvalidate.01', content='TODO: Fill me in!')
    meta(name='google-site-verification', content='TODO: Fill me in!')
    title Driftwood 0.0.1
    // Application styles
    link(rel='stylesheet', href='/css/libs/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/css/libs/font-awesome/font-awesome.css')
    link(rel='stylesheet', href='/scripts/libs/colorpicker/css/colorpicker.css')
    link(rel='stylesheet', href='/css/main.css')
    // Site Web Fonts
  body
    // BEGIN: Main wrapper
    #Main
      // BEGIN: header
      header.header
      // END: header
      // BEGIN: Main container
      section.main(role='main')
        //Loading screen
        .loading-screen
          h1
            | Loading Game...
          .loading-message
        //Global Messages
        .system-message
          .alert
            button(type="button",class="close",data-dismiss="alert")
              | &times;
            .message
        // Editor
        section.editor
          // Command Pallet
          .grid-label
            span.size-label 1 block
            | =
            span.unit-label
          // Canvas
          .canvas-wrapper
            .canvas-padding
              canvas#c
            .overlay
        // Side Panel
        aside.panel
          .nav
            .game-info
              div.game-name 
                strong #{game.name}
                br
                small.muted by #{game.ownerDisplayName}
              .dropdown.menu.lobby-return
                .dropdown-toggle(data-toggle="dropdown",href="#")
                  b.icon-caret-down
                ul.dropdown-menu.pull-right(role="menu",aria-labelledby="dLabel")
                  li
                    a(href="/") Return to Lobby
                    a(href="/logout") Logout
            ol.unstyled.inline(data-tabs='tabs', data-tab-panels='.chat,.objects,.settings')
              li(data-toggle='tab', data-target='.chat')
                b.icon-comment
                | Chat
              li(data-toggle='tab', data-target='.objects')
                b.icon-pushpin
                | Objects
              li(data-toggle='tab', data-target='.settings')
                b.icon-cog
                | Settings
          // Chat
          #chat.chat
            .content
              .message-wrapper
                .messages(data-spy='scroll')
              .input
                .textarea
                  textarea.input-block-level(rows='1', data-activate='elastic', data-on='load', placeholder='Chat away...')
          // Objects
          #objects.objects
            .content
              .tr.object-list
                .object-wrapper
                  ol.unstyled
                    li.object
                      p.tmp
                        input.input-block-level(type='text', placeholder='http://')
              .tr
                .upload
                  select(name='upload-type')
                    option(value='token') Token
                    option(value='map') Map
                    option(value='item') Item
                  input(type='hidden', name='_csrf', value='#{session._csrf}')  
                  input(type='hidden', name='uploadUrl', value='/uploadToken/#{game.ownerUsername}/#{game.name}')
                  .file-upload.select-file.btn.btn-primary
                    | Upload
                    input#object-upload(type='file', name='object', accept='image/*')
          // Settings
          .settings
            .content
              .tr
                .settings-wrapper
                  .settings-content.control-pane.form-horizontal
              .tr
                .actions
                  input.save-settings.btn.btn-success.input-block-level(type='button', value='Save')
                  input.cancel-settings.btn.input-block-level(type='button', value='Cancel')
      // END: main container
      // BEGIN: footer
      footer.footer
      // END: footer
      #scripts
        script(src='/scripts/libs/jquery/jquery.js')
        script(src='/scripts/libs/jquery/jquery-ui-1.10.3.custom.js')
        script(src='/scripts/libs/jquery/scrollTo.js')
        script(src='/scripts/libs/jquery/hotkeys.js')
        script(src='/scripts/libs/bootstrap/bootstrap.js')
        script(src='/scripts/libs/underscore/underscore.js')
        script(src='/scripts/libs/backbone/backbone.js')
        script(src='/scripts/libs/fabric/all.js')
        script(src='/scripts/libs/colorpicker/js/colorpicker.js')
        script(src='/scripts/libs/colorpicker/js/eye.js')
        script(src='/scripts/libs/colorpicker/js/utils.js')
        script(src='/socket.io/socket.io.js')
        script
          var liveUrl = "#{url}";
          var gamename = "#{game.name}";
          var owner = "#{game.ownerUsername}";
        script(src='/scripts/app.js')
      script#settingsPanelTemplate(type='text/template')
        <% if( isGM ) { %>
        <h2>Editor</h2>
        <div class="control-group">
        <label class="control-label">Background Color:</label>
        <div class="controls">
        <input class="span1 editor-color" type="color">
        </div>
        </div>
        <h2>Grid Settings</h2>
        <div class="control-group">
        <div class="controls">
        <div class="btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn grid-on btn-primary active">On</button>
        <button type="button" class="btn grid-off btn-primary">Off</button>
        </div>
        </div>
        </div>
        <div class="grid-settings">
        <div class="control-group">
        <label class="control-label">Grid Color:</label>
        <div class="controls">
        <input class="span1 grid-color" type="color">
        </div>
        </div>
        <div class="control-group">
        <label class="control-label">Grid Size:</label>
        <div class="controls">
        <input class="span1 grid-size" type="number" value="">px = <input class="span1 grid-unit" type="text" placeholder="5 ft" value="5 ft">
        </div>
        </div>
        </div>
        <% } %>
        <div class="player-list"></div>
      script#playerListTemplate(type='text/template')
        <h2>Players</h2>
        <% if( isOwner ) { %>
        <small class="muted">All player changes occur instantly, no save required.</small>
        <% } %>
        <ul>
        <% _.each( players, function(player) { %>
        <li>
        <span class="player-type is-<%= player.isGM ? 'gm' : 'player' %>"><%= player.isGM ? 'GM' : 'P' %></span>
        <p>
        <span class="username"><%= player.displayName %></span>
        </p>
        <% if( isOwner && player.playerUsername !== playerUsername) { %>
        <div class="dropdown menu">
        <div class="dropdown-toggle" data-toggle="dropdown" href="#">
        <b class="icon-caret-down"></b>
        </div>
        <!-- Link or button to toggle dropdown -->
        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
        <% if( player.isGM ) { %>
        <li><a tabindex="-1" href="#" data-action="demoteGM" data-player="<%= player.playerUsername %>">Make Player</a></li>
        <% } else { %>
        <li><a tabindex="-1" href="#" data-action="promoteGM" data-player="<%= player.playerUsername %>">Make GM</a></li>
        <% } %>
        <li><a tabindex="-1" href="#" data-action="removePlayer" data-player="<%= player.playerUsername %>">Remove Player</a></li>
        </ul>
        </div>
        </li>
        <% } %>
        <% }); %>
        </ul>
        <% if( isOwner ) { %>
        <div class="row-fluid">
        <div class="span7">
        <input type="text" class="add-username input-block-level"/>
        </div>
        <div class="span5"><span class="btn" data-action="addPlayer" data-player="" data-target=".add-username">Add Player</span></div>
        <% } %>
      script#commandMenuTemplate(type='text/template')
        <div class="commands btn-group btn-group-vertical" data-toggle="buttons-radio">
        <div class="btn-group command move-pan">
        <span class="btn menu-btn active" data-cmd="selectCanvas" title="s">
        <b class="icon-hand-up"></b>
        </span>
        </div>
        <div class="btn-group command has-sub-menu layer-commands">
        <span class="btn menu-btn" data-cmd="switchLayer" data-cmd-value="map_layer">
        <b class="icon-picture"></b>
        </span>
        <ul class="dropdown-menu layer-menu">
        <li data-cmd="switchLayer" data-cmd-value="map_layer"><a href="#"><b class="icon-picture"></b> Map Layer<span class="hotkey pull-right">1</span></a></li>
        <li data-cmd="switchLayer" data-cmd-value="object_layer"><a href="#"><b class="icon-pushpin"></b> Object Layer<span class="hotkey pull-right">2</span></a></li>
        <% if( gmLayer ) { %>
        <li data-cmd="switchLayer" data-cmd-value="gm_layer"><a href="#"><b class="icon-user"></b> GM Layer<span class="hotkey pull-right">3</span></a></li>
        <% } %>
        </ul>
        </div>
        <div class="btn-group has-sub-menu draw-menu command">
        <span class="btn menu-btn" data-cmd="draw" data-cmd-value="free">
        <b class="icon-pencil"></b>
        </span>
        <ul class="dropdown-menu">
        <li data-cmd="draw" data-cmd-value="free"><a href="#"><b class="icon-pencil"></b> Free Draw<span class="hotkey pull-right">f</span></a></li>
        <li data-cmd="draw" data-cmd-value="rectangle"><a href="#"><b class="icon-sign-blank"></b> Rectangle<span class="hotkey pull-right">r</span></a></li>
        <li data-cmd="draw" data-cmd-value="circle"><a href="#"><b class="icon-circle"></b> Circle<span class="hotkey pull-right">c</span></a></li>
        </ul>
        </div>
        <% if( fog ) { %>
        <div class="btn-group has-sub-menu draw-menu command">
        <span class="btn menu-btn" data-cmd="fog" data-cmd-value="reveal">
        <b class="icon-eye-open"></b>
        </span>
        <ul class="dropdown-menu">
        <li data-cmd="fog" data-cmd-value="reveal"><a href="#"><b class="icon-eye-open"></b> Reveal Area</a></li>
        <li data-cmd="fog" data-cmd-value="hide"><a href="#"><b class="icon-eye-close"></b> Hide Area</a></li>
        <li data-cmd="fog" data-cmd-value="clear"><a href="#"><b class="icon-check-empty"></b> Clear All Fog</a></li>
        <li data-cmd="fog" data-cmd-value="reset"><a href="#"><b class="icon-refresh"></b> Reset Fog</a></li>
        </ul>
        </div>
        <% } %>
        <div class="btn-group has-sub-menu command">
        <span class="btn menu-btn" data-cmd="zoomIn">
        <b class="icon-zoom-in"></b>
        </span>
        <ul class="dropdown-menu">
        <li data-cmd="zoomIn"><a href="#"><b class="icon-zoom-in"></b> Zoom In<span class="hotkey  pull-right">Cmd/Ctrl+Shift+<b class="icon-arrow-up"></b></span></a></li>
        <li data-cmd="zoomOut"><a href="#"><b class="icon-zoom-out"></b> Zoom Out<span class="hotkey  pull-right">Cmd/Ctrl+Shift+<b class="icon-arrow-down"></b></span></a></li>
        </ul>
        </div>
        </div>
        <div class="sub-menu free-draw">
        <p>
        <strong>Stroke</strong> <br />
        <input type="color" class="span1 freeDrawStroke" />
        </p>
        <p class="fill">
        <strong>Fill</strong> <br />
        <input type="color" class="span1 freeDrawFill" />
        </p>
        <p>
        <strong>Border</strong> <br />
        <select class="span2 freeDrawStrokeWidth">
        <option value="1">Small</option>
        <option value="3">Medium</option>
        <option value="5">Large</option>
        <option value="8">Extra Large</option>
        </select>
        </p>
        </div>
      script#contextMenuTemplate(type='text/template')
        <ul class="context-menu dropdown-menu">
        <% if( menu.copy ) { %>
        <li data-cmd="copy"><a href="#">Copy<span class="hotkey  pull-right">Shift+C</span></a></li>
        <% } %>
        <% if( menu.cut ) { %>
        <li data-cmd="cut"><a href="#">Cut<span class="hotkey  pull-right">Shift+X</span></a></li>
        <% } %>
        <% if( menu.paste ) { %>
        <li data-cmd="paste"><a href="#">Paste<span class="hotkey pull-right">Shift+V</span></a></li>
        <% } %>
        <% if( menu.delete ) { %>
        <li data-cmd="delete"><a href="#">Delete<span class="hotkey  pull-right">Del</span></a></li>
        <% } %>
        <% if( menu.lock ) { %>
        <li data-cmd="lock"><a href="#">Lock<span class="hotkey  pull-right">Shift+L</span></a></li>
        <% } %>
        <% if( menu.unlock ) { %>
        <li data-cmd="unlock"><a href="#">Unlock<span class="hotkey  pull-right">Shift+U</span></a></li>
        <% } %>
        <% if( menu.move_backward || menu.move_forward || menu.move_to_back || menu.move_to_front ) { %>
        <li class="divider"></li>
        <li data-cmd="moveObject" data-cmd-value="backwards"><a href="#">Move Back<span class="hotkey  pull-right">Shift+<b class="icon-arrow-left"></b></span></a></li>
        <li data-cmd="moveObject" data-cmd-value="forwards"><a href="#">Move Forward<span class="hotkey  pull-right">Shift+<b class="icon-arrow-right"></b></span></a></li>
        <li data-cmd="moveObject" data-cmd-value="toFront"><a href="#">Move to Front<span class="hotkey  pull-right">Shift+<b class="icon-arrow-up"></b></span></a></li>
        <li data-cmd="moveObject" data-cmd-value="toBack"><a href="#">Move to Back<span class="hotkey  pull-right">Shift+<b class="icon-arrow-down"></b></span></a></li>
        <% } %>
        <% if( menu.delete ) { %>
        <li class="divider"></li>
        <li class="dropdown-submenu"><a href="#">Switch Layer</a>
        <ul class="dropdown-menu">
        <li data-cmd="switchObjectLayer" data-cmd-value="map_layer"><a href="#"><b class="icon-picture"></b> Map Layer<span class="hotkey  pull-right">Shift+1</span></a></li>
        <li data-cmd="switchObjectLayer" data-cmd-value="object_layer"><a href="#"><b class="icon-pushpin"></b> Object Layer<span class="hotkey  pull-right">Shift+2</span></a></li>
        <% if( menu.gmLayer ) { %>
        <li data-cmd="switchObjectLayer" data-cmd-value="gm_layer"><a href="#"><b class="icon-user"></b> GM Layer<span class="hotkey  pull-right">Shift+3</span></a></li>
        <% } %>
        </ul>
        </li>
        <% } %>
        </ul>
      script#chatMessageTemplate(type='text/template')
        <div class="message <%= active ? 'active' : '' %>">
        <div class="username"><%= displayName %></div> <div class="text"><%= message %></div>
        </div>
      script#objectItemTemplate(type='text/template')
        <li class="object ui-draggable" data-url="<%= url %>" data-type="<%= type.toLowerCase() %>">
        <div class="preview"><img src="<%= thumbnail %>"/></div>
        <p class="name"><%= name %></p>
        <p class="muted"><%= type %></p>
        <div class="dropdown menu">
        <div class="dropdown-toggle" data-toggle="dropdown" href="#">
        <b class="icon-caret-down"></b>
        </div>
        <!-- Link or button to toggle dropdown -->
        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
        <li><a tabindex="-1" href="#">Delete</a></li>
        </ul>
        </div>
        </li>
      #uploadModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='uploadLabel', aria-hidden='true')
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h3#uploadLabel Upload
        .modal-body
          p One fine body…
        .modal-footer
          button.btn(data-dismiss='modal', aria-hidden='true') Close
          button.btn.btn-primary Upload
    // END: Main wrapper
