!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // SEO Validation Tags
    meta(name='msvalidate.01', content='TODO: Fill me in!')
    meta(name='google-site-verification', content='TODO: Fill me in!')
    title Driftwood 0.0.1
    // Application styles
    link(rel='stylesheet', href='/css/libs/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/css/libs/font-awesome/font-awesome.css')
    link(rel='stylesheet', href='/scripts/libs/colorpicker/css/colorpicker.css')
    link(rel='stylesheet', href='/css/main.css')
    // Site Web Fonts
  body
    // BEGIN: Main wrapper
    #Main.lobby-page
      // BEGIN: header
      header.header
      // END: header
      // BEGIN: Main container
      section.main(role='main')
        form.lobby(id='createGameForm', action='/createGame/#{player.username}', method='post')         
          .dropdown.menu
            .dropdown-toggle(data-toggle="dropdown",href="#")
              b.icon-caret-down
            ul.dropdown-menu.pull-right(role="menu",aria-labelledby="dLabel")
              li
                a(href='/changePassword') Change Password   
                a(href="/logout") Logout
          section
            input(type='hidden', name='_csrf', value='#{session._csrf}')    
            img(id="logo", src='/images/driftwoodlogo.png')
            .control-group
              label.control-label(for='name') New Game
              .controls
                input#username.input-block-level(id='createGameName',type='text',placeholder='',name='name')
            .control-group
              .controls
                input.btn.btn-primary(type='submit', value='Create Game')
            section
              .control-group
                a.icon-refresh(href="/joinGame/#{player.username}"): a.refresh(href="/joinGame/#{player.username}") Refresh 
          - if(games.length)
              .control-group
                label.control-label(for='name') Games
                .controls.games
                  ol.unstyled
                    each game in games
                      li: a(href="/game/#{game.ownerUsername}/#{game.name}") #{game.name} by #{game.ownerDisplayName}
          section
            a(href='/terms', target="_blank") Terms of Service, Privacy Policy & Contact
      // END: main container
      // BEGIN: footer
      footer.footer
      // END: footer
      #scripts
        script(src='/scripts/libs/jquery/jquery.js')
        script
          $(document).ready(function() { 

            var error = function(message) {
                  if($("#error").length > 0){ 
                    $("#error").fadeOut(400, function(){
                      $(this).remove();
                      $('#logo').after("<div id='error'><p style='color:red; font-weight: bold'>" + message +  "</p></div>").fadeIn(1000);   
                    });
                  } else {
                    $('#logo').after("<div id='error'><p style='color:red; font-weight: bold'>" + message +  "</p></div>").fadeIn(1000);   
                  }
            };

            $("#createGameForm").on("submit", function(event) {

              var form = $('#createGameForm');

              if(!$("input[name=name]").val()) {
                error("Game Name is Required");
                return false;
              }

              $.ajax({
                url: $(form).attr("action"),
                data: $(form).serialize(),
                type: 'POST',
                success: function(data) {
                  window.location = "/";
                },
                error: function( jqXHR, textStatus, errorThrown ) {
                  var response = $.parseJSON(jqXHR.responseText);  
                  error(response.err.message);
                }
              });

              return false;
            });
          });
    // END: Main wrapper
    #scripts
      script(src='/scripts/libs/jquery/jquery.js')
      script(src='/scripts/libs/bootstrap/bootstrap.js')
