extends base

block body
  div#logout
    a(href='/logout') Logout
  div#changePass
    form(id='changePassForm', action='/changePassword', method='post')
      input(type='hidden', name='_csrf', value='#{session._csrf}') 
      label(for='currentPass') Current Password
        input(id='changePassCurr', type='password', placeholder='', name='currentPass')
      label(for='newPass') New Password
        input(id='changePassNew', type='password', placeholder='', name='newPass')
      label(for='newPassRetype') Retype new Password
        input(id='changePassNewRetype', type='password', placeholder='', name='newPassRetype')
      input(id='changePassSubmit', type='submit', value='Change password', name='submit')
  div#createGame
    form(id='createGameForm', action='/createGame/#{player.username}', method='post')
      input(type='hidden', name='_csrf', value='#{session._csrf}')      
      label(for='create') name
        input(id='createGameName',type='text',placeholder='',name='name')
        input(id='createGameSubmit',type='submit',value='Create Game',name='createGameSubmit')
  div#games
  each game in games
    li: a(href="/game/#{game.ownerUsername}/#{game.name}") #{game.name}
